In [1]:
import pandas as pd
from pathlib import Path

inp = Path("../data_clean/clean_housing.csv")
out = Path("../data_clean/kpis.csv")

df = pd.read_csv(inp).sort_values(["region","year"])
df["yoy_price_pct"] = df.groupby("region")["price_per_m2"].pct_change() * 100

kpi = (df.groupby(["year","region"], as_index=False)
       .agg(
         avg_price_m2=("price_per_m2","mean"),
         price_to_income=("price_to_income_ratio","mean"),
         rent_buy=("rent_vs_buy_index","mean"),
         avg_wage=("avg_monthly_wage","mean"),
         yoy_price_pct=("yoy_price_pct","mean")
       ))

kpi.to_csv(out, index=False)
print("Saved", out)
kpi

Saved ../data_clean/kpis.csv

,year,region,avg_price_m2,price_to_income,rent_buy,avg_wage,yoy_price_pct
0,2023,Liepaja,1350.0,6.057692,1.142857,1300.0,NaN
1,2023,Pieriga,1800.0,7.000000,1.238095,1500.0,NaN
2,2023,Riga,2100.0,8.166667,1.142857,1500.0,NaN
3,2024,Liepaja,1420.0,5.916667,1.158954,1400.0,5.185185
4,2024,Pieriga,1900.0,6.927083,1.227068,1600.0,5.555556
5,2024,Riga,2270.0,8.276042,1.117684,1600.0,8.095238